/* About.module.css */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh; /* 전체 화면 높이를 사용하여 가운데 정렬 */
  background-color: black; /* 배경색을 검정색으로 설정 */
  color: white; /* 글자색을 흰색으로 설정 */
  text-align: center; /* 텍스트를 가운데 정렬 */
  padding-top: 100px; /* nav 높이만큼 패딩 추가 */
  padding-bottom: 100px; /* nav 높이만큼 패딩 추가 */
  margin-bottom: 50px; /* 화면 바닥과 50px 띄움 */
}

.leftAlignedText {
  text-align: left;
  width: 100%; /* 텍스트가 좌측 정렬되도록 100% 너비 설정 */
  max-width: max-content; /* 원하는 최대 너비 설정 */
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
  animation: fadeIn 1s;
}
/* 반응형 디자인을 위한 미디어 쿼리 추가 */
@media (max-height: 800px) {
  .container {
    height: calc(70vh - 60px); /* nav 높이를 고려한 높이 조정 */
  }
}

@media (max-height: 600px) {
  .container {
    height: calc(60vh - 60px); /* nav 높이를 고려한 높이 조정 */
  }
}

@media (max-width: 1200px) {
  .container {
    padding-top: 50px; /* nav 높이만큼 패딩 추가 */
  }
}

@media (max-width: 992px) {
  .container {
    padding-top: 50px; /* nav 높이만큼 패딩 추가 */
  }
}

@media (max-width: 768px) {
  .container {
    padding-top: 40px; /* nav 높이만큼 패딩 추가 */
  }
}

@media (max-width: 576px) {
  .container {
    padding-top: 30px; /* nav 높이만큼 패딩 추가 */
  }
}
